<app-header></app-header>

<div class="pricing">

    <div class="center-content">
        <h2 class="primary no-margin">
            Our Pricing
        </h2>
    </div>

    <div class="center-content margin-top-lg">
        <h4 class="no-margin padding-right-sm primary-medium">
            Annually
        </h4>
        <label class="switch">
            <input type="checkbox" (click)="changePricePeriod()">
            <span class="slider round"></span>
        </label>
        <h4 class="no-margin padding-left-sm primary-medium">
            Monthly
        </h4>
    </div>

    <div class="margin-top-lg cards">
        <div class="unfocused">
            <h4 class="primary-dark center-content no-margin padding-vertical-md">
                Basic
            </h4>

            <div class="center-content padding-bottom-lg">
                <h3 class="primary-dark center-content no-margin padding-right-sm">
                    $
                </h3>
                <h2 class="primary-dark center-content no-margin"
                    *ngIf="!monthlyPrice"
                >
                    199.99
                </h2>
                <h2 class="primary-dark center-content no-margin"
                    *ngIf="monthlyPrice"
                >
                    19.99
                </h2>
            </div>

            <div class="benefits center-content padding-vertical-sm">
                <h4 class="primary-dark no-margin">
                    500 GB Storage
                </h4>
            </div>
            <div class="benefits center-content padding-vertical-sm">
                <h4 class="primary-dark no-margin">
                    2 Users Allowed
                </h4>
            </div>
            <div class="benefits center-content padding-vertical-sm">
                <h4 class="primary-dark no-margin">
                    Send up to 3 GB
                </h4>
            </div>

            <button class="margin-top-lg">
                Learn More
            </button>
        </div>


        <div class="focused">
            <h4 class="white center-content no-margin padding-vertical-md">
                Professional
            </h4>

            <div class="center-content padding-bottom-lg">
                <h3 class="white center-content no-margin padding-right-sm">
                    $
                </h3>
                <h2 class="white center-content no-margin"
                    *ngIf="!monthlyPrice"
                >
                    249.99
                </h2>
                <h2 class="white center-content no-margin"
                    *ngIf="monthlyPrice"
                >
                    24.99
                </h2>
            </div>

            <div class="benefits center-content padding-vertical-sm">
                <h4 class="white no-margin">
                    1 TB Storage
                </h4>
            </div>
            <div class="benefits center-content padding-vertical-sm">
                <h4 class="white no-margin">
                    5 Users Allowed
                </h4>
            </div>
            <div class="benefits center-content padding-vertical-sm">
                <h4 class="white no-margin">
                    Send up to 10 GB
                </h4>
            </div>

            <button class="margin-top-lg">
                Learn More
            </button>
        </div>

        <div class="unfocused">
            <h4 class="primary-dark center-content no-margin padding-vertical-md">
                Master
            </h4>

            <div class="center-content padding-bottom-lg">
                <h3 class="primary-dark center-content no-margin padding-right-sm">
                    $
                </h3>
                <h2 class="primary-dark center-content no-margin"
                    *ngIf="!monthlyPrice"
                >
                    399.99
                </h2>
                <h2 class="primary-dark center-content no-margin"
                    *ngIf="monthlyPrice"
                >
                    39.99
                </h2>
            </div>


            <div class="benefits center-content padding-vertical-sm">
                <h4 class="primary-dark no-margin">
                    2 TB Storage
                </h4>
            </div>
            <div class="benefits center-content padding-vertical-sm">
                <h4 class="primary-dark no-margin">
                    10 Users Allowed
                </h4>
            </div>
            <div class="benefits center-content padding-vertical-sm">
                <h4 class="primary-dark no-margin">
                    Send up to 20 GB
                </h4>
            </div>

            <button class="margin-top-lg">
                Learn More
            </button>
        </div>

    </div>
</div>
