<section class="single-price-grid">
        <div class="section1">
            <h3 class="title no-margin">
                Join our community
            </h3>
            <h4 class="subtitle margin-vertical-sm">
                30-day, hassle-free money back guarantee
            </h4>
            <p>
                Gain access to out full library of tutorials along with expert code reviews.
                Perfect for any developers who are serious about honing their skills.
            </p>
        </div>

        <div class="section2 medium">
            <h3 class="no-margin">
                Monthly subscription
            </h3>

            <div class="price-container">
                <h2 class="no-margin">
                    $29
                </h2>
                <p class="no-margin padding-left-sm">
                    Per month
                </p>
            </div>

            <p class="no-margin">
                Full access for less than $1 a day
            </p>

            <button class="margin-vertical-lg sign-up"
            >
                    Sign Up
            </button>

        </div>

        <div class="section3 medium">
            <h3 class="no-margin">
                Why us
            </h3>

            <ul>
                <li>
                    Tutorials by industry experts
                </li>
                <li>
                    Peer & expert code review
                </li>
                <li>
                    Coding exercises
                </li>
                <li>
                    Access to out GitHub repos
                </li>
                <li>
                    Community forum
                </li>
                <li>
                    Flashcard decks
                </li>
                <li>
                    New videos every week
                </li>
            </ul>
        </div>

</section>
